body{
    margin:0;
    padding:0;
    background-image: url("Background.jpg");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
@font-face{
    font-family: Mochi;
    src: url("MochiyPopPOne-Regular.ttf");
}
.Box{
    background-color: rgba(14, 13, 13, 0.61);
    width: 70vw;
    position: relative;
    left: 15%;
    right: 15%;
    top: 21%;
    min-height: 500px;
}
.Box h1{
    text-align: center;
    font-family: Mochi;
    opacity: 1;
    color: rgb(0, 174, 255);
}
